#isim {
  font-family: Helvetica, sans-serif;
}

#navbut {
  margin-top: -20px;
  padding-top: 10px;
  position: fixed;
  height: 50px;
  width: 50px;
  background: rgb(167, 167, 167);
  color: black;
  margin-left: 175px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.nav a {
  text-decoration: none;
  color: whitesmoke;
}

.nav {
  animation-fill-mode: forwards;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(83, 83, 83);
  color: whitesmoke;
  width: 175px;
  height: 250px;
  left: -175px;
}

.nav:hover {
  animation: move 1s 1 forwards;
}

@keyframes move {
  100% {
    left: 0px;
  }
}
