:root {
  --main-dark-color: rgb(5, 3, 24);
}

body {
  background: #eff8ff;
  margin: 0;
  padding: 0;
}

#hikaye {
  background: var(--main-dark-color);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 60px;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  height: 450px;
  box-shadow: 0px 0px 20px #9088ff;
  overflow: hidden;
}

#hikaye p {
  color: rgb(208, 252, 255);
  margin: 0 auto;
  margin-top: 60px;
  font-weight: normal;
  width: 90%;
  text-overflow: clip;
  text-align: center;
}

#isim {
  position: relative;
  color: rgb(177, 250, 255);
  top: 15px;
  text-align: center;
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-overflow: clip;
}

#navbut {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -20px;
  /* padding-top: 10px; */
  position: fixed;
  height: 50px;
  width: 51px;
  background: #f83600;
  margin-left: 174px;

  z-index: 2;
}

#navbut h1 {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  color: #eeeeee;
  font-weight: bold;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navA {
  line-height: 40px;
  margin-top: 30px;
}

.nav a {
  text-decoration: none;
  color: #eeeeee;
}

.nav {
  border-bottom-right-radius: 20px;
  animation-fill-mode: forwards;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background: #f83600;
  color: #f1f4df;
  width: 175px;
  height: 250px;
  left: -175px;
  z-index: 2;
  margin-top: 20px;
}

.nav:hover {
  animation: move 0.75s 1 forwards;
}

@keyframes move {
  100% {
    left: 0px;
  }
}

#toplubaslik {
  width: 100%;
  min-height: 45vh;
  text-align: center;
  box-sizing: border-box;
}

#baslik {
  position: absolute;
  color: #f1f4df;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  top: 10%;
  left: 0;
  width: 100%;
  animation: baslik 1s ease 1;
}

#basliksol,
#basliksag {
  margin: 0px;
  padding: 0px;
  float: left;
  min-height: 40vh;
}

#basliksol {
  width: 50%;
  /* height: 250px; */
  border-bottom-right-radius: 60px;
  background: var(--main-dark-color);
}

#basliksag {
  width: 50%;
  /* height: 250px; */
  border-bottom-left-radius: 60px;
  background: var(--main-dark-color);
}

#baslikful {
  position: absolute;
  width: 100%;
  height: 45vh;
  background: linear-gradient(#fe8c00, #fe8c00, #fe8c00, #fe8c00, #f83600);
  z-index: -1;
}

@keyframes baslik {
  0% {
    top: 8%;
    color: rgba(255, 255, 255, 0);
  }
  100% {
    top: 10%;
    color: #f1f4df;
  }
}

#egitim {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 55px;
  height: 350px;
  background: linear-gradient(#fe8c00, #f83600, #f83600, #f83600, #f83600);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 20px #ffa02c;
}

#egitimicerik {
  font-family: Helvetica, sans-serif;
  position: relative;
  color: #f1f4df;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 300px;
  background: var(--main-dark-color);
  margin-top: 0px;
}

#divul {
  width: 100%;
  height: 300px;
  position: relative;
  top: 20px;
  left: -10px;
}

#divul a {
  font-family: Helvetica, sans-serif;
  color: #f83600;
  text-decoration: none;
  font-weight: bolder;
}

#egitim h1 {
  font-size: 1.75rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-dark-color);
}

#hobiler {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 55px;
  height: 250px;
  background: linear-gradient(#fe8c00, #f83600, #f83600, #f83600, #f83600);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 20px #ffa02c;
}

#hobilericerik {
  font-family: Helvetica, sans-serif;
  position: relative;
  color: #f1f4df;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 200px;
  background: var(--main-dark-color);
  margin-top: 0px;
}

#hobiler h1 {
  font-size: 1.75rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-dark-color);
}

#divol {
  width: 100%;
  height: 300px;
  position: relative;
  top: 55px;
  left: 40px;
  font-size: 1.1rem;
}

#yetenek {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 100px;
}

.tirnak {
  color: rgb(177, 250, 255);

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    Helvetica, sans-serif;
  font-size: 3rem;
}

#html,
#css,
#js {
  width: 30%;
  height: 400px;
  float: left;
  background: var(--main-dark-color);
  border-radius: 40px;
  margin-left: 8.5px;
  margin-top: 25px;
}

#htmlinner,
#cssinner,
#jsinner {
  width: 100%;
  border-radius: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 50px;
}

#htmlinner h1,
#cssinner h1,
#jsinner h1 {
  position: relative;
  text-align: center;
}

#htmlinner h1 {
  top: 225px;
}

#htmlinner {
  margin-top: 100px;
  height: 300px;
  background: linear-gradient(#00fedc, #00a1fe);
}

#cssinner h1 {
  top: 225px;
}

#cssinner {
  margin-top: 100px;
  height: 300px;
  background: linear-gradient(#fe8c00, #f83600);
}

#jsinner h1 {
  top: 25px;
}

#jsinner {
  margin-top: 300px;
  height: 100px;
  background: linear-gradient(#fe00e9, #c600f8);
}
